<div class="home-page w-100 form-layout position-relative" style="margin: 0;">
  <div class="row w-100 h-100 g-0">
    <div class="col-sm-12 col-md-6 d-none d-md-block"></div>
    <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center">
      <form name="signupForm" ng-submit="signup(signupForm)" class="bg-white rounded-2 form-wrapper">
        <a href="#/!" class="px-5 d-flex align-items-center justify-content-center">
          <img src="assets/img/logo/logo.png" class="form-logo" alt="" />
        </a>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            ng-change="handleChange()"
            ng-model="email"
            name="email"
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div id="emailHelp" ng-show="errorMsg.email" class="form-text text-danger">{{errorMsg.email}}</div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            ng-change="handleChange()"
            ng-model="password"
            type="password"
            class="form-control"
            id="password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input
            ng-change="handleChange()"
            ng-model="confirmPassword"
            type="password"
            class="form-control"
            id="confirmPassword"
            required
          />
        </div>
        <div id="emailHelp" ng-show="errorMsg.confirmPassword" class="form-text text-danger">
          {{errorMsg.confirmPassword}}
        </div>
        <button type="submit" class="w-100 btn btn-primary my-2 fs-4">Sign Up</button>

        <div class="form-line position-relative text-secondary my-2 mb-4">
          <span class="position-absolute options-signin">Hoặc</span>
        </div>
        <div class="bg-fb d-flex justify-content-center align-items-center py-1 rounded-1 mt-2 form-social-btn">
          <img src="assets/img/facebook.webp" class="form-social-icon me-2" alt="" />
          <span class="text-white fs-4">Đăn nhập với Facebook</span>
        </div>
        <div class="d-flex border justify-content-center align-items-center py-1 rounded-1 mt-2 form-social-btn">
          <img src="assets/img/google.png" class="form-social-icon me-2" alt="" />
          <span class="text-secondary fs-4">Đăng nhập với Google</span>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <a class="text-decoration-none mt-4" href="#!signin">Đăng nhập!</a>
        </div>
      </form>
    </div>
  <!-- sccess toast message -->
  <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 11">
    <div id="signupToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <i class="bi bi-check-circle me-2 text-success fs-4"></i>
        <strong class="me-auto text-success">Signup Successfull!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body"><a href="#!signin" class="text-decoration-none">Login to continue!</a></div>
    </div>
  </div>
</div>
