<footer class="tf-footer">
    <div class="container">
        <div class="tf-footer-row row row-cols-sm-3 pt-4 pt-sm-4">
            <div class="col col-sm-4 tf-footer-col">
                <h4 class="tf-footer-col-title text-white">
                    Giới thiệu
                </h4>
                <ul class="tf-footer-col-linklist">
                    <li>Về chúng tôi</li>
                    <li>Sản phẩm</li>
                    <li>Chuyện cà phê</li>
                    <li>Cửa hàng</li>
                </ul>
            </div>
            <div class="col col-sm-4 tf-footer-col">
                <h4 class="tf-footer-col-title text-white">
                    Điều khoản
                </h4>
                <ul class="tf-footer-col-linklist">
                    <li>Điều khoản sử dụng</li>
                    <li>Chính sách bảo mật thông tin</li>
                </ul>
            </div>
            <div class="col col-sm-4 tf-footer-col">
                <h4 class="tf-footer-col-title text-white">
                    LIÊN HỆ
                </h4>
                <ul class="tf-footer-col-linklist">
                    <li>
                        <h5><i class="fa-solid fa-phone"></i> Số điện thoại: 0123445999</h5>
                    </li>
                    <li>
                        <h5><i class="fa-solid fa-envelope"></i> Email: abc@gmail.com</h5>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-12 tf-footer-col">
                <hr>
            </div>
            <div class="col col-sm-9">
                <ul class="tf-footer-col-linklist">
                    <li>Công ty cổ phần thương mại dịch vụ Trà Cà Phê VN</li>
                    <li>Địa chỉ: abcxyz, TP.HCM Điện thoại: 0862824120 Email: abcxyz@gmail.com</li>
                    <li>© 2023 - The Coffee</li>
                </ul>
            </div>
        </div>
    </div>
</footer>