<header class="tf-header fixed-top">
  <nav class="tf-navbar container-fluid navbar navbar-expand-lg">
    <a href="#/!" class="ms-lg-5 ps-lg-5 navbar-brand d-flex align-items-center justify-content-start text-start">
      <img class="img-fluid" style="height: 75px" src="assets/img/logo/logo.png" alt="" />
      <span class="fs-3 fw-semibold">The Coffee</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-custom-md pb-2 pb-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav tf-navbar-list">
        <li class="tf-navbar-item nav-item">
          <a href="#sanpham" class="tf-navbar-link nav-link"> Cà phê </a>
        </li>
        <li class="tf-navbar-item nav-item">
          <a href="#sanpham" class="tf-navbar-link nav-link"> Trà </a>
        </li>
        <li class="tf-navbar-item nav-item">
          <a href="#" class="tf-navbar-link nav-link">Menu<i class="fa-solid fa-caret-down px-sm-1"
              style="font-size: 1.2rem"></i></a>
          <div class="tf-navbar-menu">
            <ul class="tf-navbar-menu-list px-sm-1">
              <li class="tf-navbar-menu-items my-sm-2">
                <a href="" class="tf-navbar-menu-link">Cà Phê</a>
              </li>
              <li class="tf-navbar-menu-items my-sm-2">
                <a href="" class="tf-navbar-menu-link">Trà</a>
              </li>
              <li class="tf-navbar-menu-items my-sm-2">
                <a href="" class="tf-navbar-menu-link">Bánh & Snack</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="tf-navbar-item nav-item">
          <div onclick="scrollToBlog()" class="tf-navbar-link nav-link" style="cursor: pointer;">
            Blog
          </div>
        </li>
      </ul>
      <ul class="navbar-nav tf-navbar-list me-lg-5">
        <li class="tf-navbar-item li-disabled nav-item m-auto" style="cursor: pointer">
          <span class="end-100 translate-middle p-2 bg-danger border rounded-circle"
            style="position: absolute; left: 14px; top: 2px">
          </span><i class="fa-regular fa-bell me-4"></i>Thông báo
          <div class="tf__notify">
            <header class="tf__notify-header">
              <h3 class="ms-2">Thông Báo Mới Nhận</h3>
            </header>
            <ul class="tf__notify-list">
              <li class="tf__notify-items tf__notify-items--viewed">
                <a href="" class="tf__notify-links">
                  <img src="https://cf.shopee.vn/file/dafe5debf17fa54c6132937855facd15_tn" alt=""
                    class="tf__notify-img" />
                  <div class="tf__notify-info">
                    <span class="tf__notify-name">Lưu mã 800.000Đ, 25.12 Dùng ngay</span>
                    <p class="tf__notify-decs">
                      🚚 Thêm Freeship Xtra đến 55.000Đ 🎉 Loạt Deal hoàn 50% Xu
                      🛒 Áo hoodie, củ sạc, mặt nạ, chảo chống dính 👉 Săn mã,
                      chốt deal - Sale nhiều bất tận
                    </p>
                  </div>
                </a>
              </li>
              <li class="tf__notify-items">
                <a href="" class="tf__notify-links">
                  <img src="https://cf.shopee.vn/file/90718e3014240cc428bd85b027202d05_tn" alt=""
                    class="tf__notify-img" />
                  <div class="tf__notify-info">
                    <span class="tf__notify-name">LOẠT DEAL GIÁ SỐC GIẢM ĐẾN 50%</span>
                    <p class="tf__notify-decs">
                      🚚 Thêm Freeship đến 40.000Đ đang đợi 🌀 Kẹp tóc, áo
                      hoodie, dép, bông tai... ✨ Săn sale tuyệt đỉnh - Chớp
                      deal giá sốc
                    </p>
                  </div>
                </a>
              </li>
              <li class="tf__notify-items">
                <a href="" class="tf__notify-links tf__notify-items--viewed">
                  <img src="https://cf.shopee.vn/file/74a291986d15506e613543cbb2f9bd79_tn" alt=""
                    class="tf__notify-img" />
                  <div class="tf__notify-info">
                    <span class="tf__notify-name">SĂN HÀNG QUỐC TẾ CHỈ TỪ 99.000Đ</span>
                    <p class="tf__notify-decs">
                      🎉 Thêm loạt Voucher đến 50.000Đ từ shop 🛒 Quần áo, đồ
                      điện tử, đồ làm bếp... 💥 Số lượng có hạn - Săn ngay kẻo
                      lỡ
                    </p>
                  </div>
                </a>
              </li>
            </ul>
            <footer class="tf__notify-footer">
              <a href="" class="tf__notify-footer-btn">Xem tất cả</a>
            </footer>
          </div>
        </li>
        <li class="tf-navbar-item nav-item">
          <a class="tf-navbar-link nav-link" href="#!user">
            <i class="fa-solid fa-user mb-disabled"></i>
            Người dùng</a>
        </li>
      </ul>
    </div>
  </nav>
</header>