.tf-product-name {
  background-image: linear-gradient(to right bottom,
      rgba(248, 244, 244, 0.05),
      rgba(60, 14, 14, 0.05));
}

.tf-product-title {
  font-size: 2.4rem;
  border-radius: 2px;
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.tf-product-card {
  border: 1px transparent !important;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  transition: transform linear 0.05s;
  will-change: transform;
}

.tf-product-card-img {
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}

.tf-product-card:hover {
  box-shadow: 0 0.0625rem 20px 0 rgb(0 0 0 / 5%);
  transition: all ease 0.3s;
  transform: translateY(-1px);
}

.card-body-item-name {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: var(--text-color);
  position: relative;
  display: inline-block;
}

.card-body-item-name::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #444;
  bottom: -2px;
  height: 2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s linear;
}

.card-body-item-name:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.card-body-item-price {
  font-size: 1.6rem;
  opacity: 0.5;
  color: var(--text-color);
}

.tf-talk-name {
  background-image: linear-gradient(to right bottom,
      rgba(248, 244, 244, 0.05),
      rgba(60, 14, 14, 0.05));
  height: auto;
}

.tf-talk-title {
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.8rem;
  border-radius: 2px;
  color: var(--text-color);
  font-weight: 700;
}

.tf-talk-product {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tf-talk-card {
  background-color: transparent !important;
  padding: 12px;
  border: none !important;
  overflow: hidden;
}

.tf-talk-card-img {
  border-radius: 8px;
  transition: all ease 0.3s;
}

.tf-talk-card-img:hover {
  transform: scale(1.1);
}

.tf-talk-card-body {
  padding: 0 !important;
}

.tf-talk-card-subtitle,
.tf-talk-card-title,
.tf-talk-card-text {
  color: var(--text-color) !important;
}

.tf-talk-card-subtitle {
  opacity: 0.5;
  font-size: 1.2rem !important;
  line-height: 1.2rem;
}

.tf-talk-card-title {
  font-size: 1.6rem;
  line-height: 1.8rem;
  height: 1.7rem;
  font-weight: 600;
  color: var(--text-color);
  overflow: hidden;
  /* display: block; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.tf-talk-card-title:hover {
  color: rgba(60, 14, 14, 0.7) !important;
  transition: linear 0.25s;
}

.tf-talk-card-text {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.8rem;
}

.underline:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #444;
  bottom: -2px;
  height: 2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s linear;
}